/* RESPONSIVENESS */
/*Main */
img {
    box-shadow: 0px 10px 13px -7px #814848, 5px 5px 15px 5px rgba(0,0,0,0);
}
.containerx {
  width: 80%;
  margin: auto;
}
.presidential-img {
  height: auto;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .containerx {
    width: 100%;
    margin-top: 60px auto;
  }
  .row-header {
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
  }
  .see-more {
    text-align: right;
    font-size: 1.1rem;
    display: block;
    font-weight: bold;
    margin-bottom: -30px;
    margin-right: 30px;
    cursor: pointer;
  }
  /* Presidential */
  .presidential-header {
    padding-bottom: 6px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  .presidential-header h1
    {
      margin-bottom: 400px;;
    }
  .presidential-img {
    height: auto;
    width: 100%;
  }
  .presidential-rating {
    position: absolute;
    bottom: -3rem;
    right: 20px;
    border-radius: 50%;
    padding: 20px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
  }

  /* FIRST CLASS */

  .room-col {
    margin-top: 20px;
    position: relative;
    height: 40vh;
  }
  .first-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: #fbcc22;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .first-class-img {
    width: 100%;
    height: 100%;
  }
  .first-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }

  /* SECOND CLASS */
  .second-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 15px;
    background: gray;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .second-class-img {
    width: 100%;
    height: 100%;
  }
  .second-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }

  /* BASIC CLASS */
  .basic-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: rgb(141, 115, 0);
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .basic-class-img {
    width: 100%;
    height: 100%;
  }
  .basic-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .containerx {
    width: 100%;
    margin-top: 60px;
  }
  .row-header {
    font-size: 1.5rem;
    margin: 30px 0;
    text-align: center;
    font-weight: bold;
  }
  .see-more {
    text-align: right;
    font-size: 1.1rem;
    display: block;
    font-weight: bold;
    margin-bottom: -30px;
    margin-right: 30px;
    cursor: pointer;
  }
  /* Presidential */
  .presidential-header {
    padding-bottom: 6px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
  }
  .presidential-img {
    height: auto;
    width: 100%;
  }
  .presidential-rating {
    position: absolute;
    bottom: -3rem;
    right: 20px;
    border-radius: 50%;
    padding: 20px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
  }

  /* FIRST CLASS */

  .room-col {
    margin-top: 20px;
    position: relative;
    height: 40vh;
  }
  .first-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: #fbcc22;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .first-class-img {
    width: 100%;
    height: 100%;
  }
  .first-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }

  /* SECOND CLASS */
  .second-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: gray;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .second-class-img {
    width: 100%;
    height: 100%;
  }
  .second-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }

  /* BASIC CLASS */
  .basic-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: rgb(141, 115, 0);
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .basic-class-img {
    width: 100%;
    height: 100%;
  }
  .basic-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .containerx {
    width: 100%;
    margin-top: 60px;
    padding: 0 40px;
  }
  .row-header {
    font-size: 1.5rem;
    margin: 30px 0;
    text-align: center;
    font-weight: bold;
  }
  .see-more {
    text-align: right;
    font-size: 1.1rem;
    display: block;
    font-weight: bold;
    margin-bottom: -30px;
    margin-right: 30px;
    cursor: pointer;
  }
  /* Presidential */
  .presidential-header {
    padding-bottom: 6px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
  }
  .presidential-img {
    height: auto;
    width: 100%;
  }
  .presidential-rating {
    position: absolute;
    bottom: -3rem;
    right: 20px;
    border-radius: 50%;
    padding: 20px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
  }

  /* FIRST CLASS */

  .room-col {
    margin-top: 45px;
    position: relative;
    height: 40vh;
  }
  .first-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: #fbcc22;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .first-class-img {
    width: 100%;
    height: 100%;
  }
  .first-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }

  /* SECOND CLASS */
  .second-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: gray;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .second-class-img {
    width: 100%;
    height: 100%;
  }
  .second-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }

  /* BASIC CLASS */
  .basic-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: rgb(141, 115, 0);
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .basic-class-img {
    width: 100%;
    height: 100%;
  }
  .basic-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 868px) {
  .containerx {
    width: 100%;
    margin-top: 60px;
    padding: 0 60px;
  }
  .row-header {
    font-size: 1.5rem;
    margin: 30px 0;
    text-align: center;
    font-weight: bold;
  }
  .see-more {
    text-align: right;
    font-size: 1.1rem;
    display: block;
    font-weight: bold;
    margin-bottom: -30px;
    margin-right: 30px;
    cursor: pointer;
  }
  /* Presidential */
  .presidential-header {
    padding-bottom: 6px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
  }
  .presidential-img {
    height: auto;
    width: 100%;
  }
  .presidential-rating {
    position: absolute;
    bottom: -3rem;
    right: 20px;
    border-radius: 50%;
    padding: 20px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
  }

  /* FIRST CLASS */

  .room-col {
    margin-top: 45px;
    position: relative;
    height: 40vh;
  }
  .first-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: #fbcc22;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .first-class-img {
    width: 100%;
    height: 100%;
  }
  .first-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }

  /* SECOND CLASS */
  .second-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: gray;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .second-class-img {
    width: 100%;
    height: 100%;
  }
  .second-class-rating {
    margin-right: 15px;
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }

  /* BASIC CLASS */
  .basic-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: rgb(141, 115, 0);
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  .basic-class-img {
    width: 100%;
    height: 100%;
  }
  .basic-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }
}

@media only screen and (min-width: 999px) {
  .containerx {
    margin: auto;
    width: 80%;
    margin-top: 100px;
  }
  .row-header {
    font-size: 3rem;
    font-weight: 600;
    display: block;
    text-align: center;
    margin: 40px 0;
  }
  .see-more {
    text-align: right;
    font-size: 1.1rem;
    display: block;
    font-weight: bold;
    margin-bottom: -30px;
    margin-right: 30px;
    cursor: pointer;
  }
  /* Presidential */
  .presidential-header {
    padding-bottom: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
  }
  .presidential-img {
    height: auto;
    width: 100%;
  }
  .presidential-rating {
    position: absolute;
    bottom: -3rem;
    right: 20px;
    border-radius: 50%;
    padding: 40px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: none;
  }

  /* FIRST CLASS */

  .room-col {
    margin-top: 40px;
    position: relative;
    height: 40vh;
  }
  .first-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: #fbcc22;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .first-class-img {
    width: 100%;
    height: 100%;
  }
  .first-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }

  /* SECOND CLASS */
  .second-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: gray;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .second-class-img {
    width: 100%;
    height: 100%;
  }
  .second-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }

  /* BASIC CLASS */
  .basic-class-booking {
    border: 1px solid #000000ab;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    padding: 8px 36px;
    background: rgb(141, 115, 0);
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .basic-class-img {
    width: 100%;
    height: 100%;
  }
  .basic-class-rating {
    position: absolute;
    bottom: -2rem;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    cursor: none;
  }
}
